#prompt-comment-subscribe {
  margin: 15px 0;
}
#prompt-comment-subscribe .postmatic-tooltip {
  cursor: pointer;
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
  background: url(../media/icons/p.png) no-repeat center right;
  min-height: 25px;
  background-size: 10px;
  padding-right: 15px;
}

#prompt-comment-subscribe .postmatic-tooltip em {
  pointer-events: none;
  background: #34495e;
  bottom: 100%;
  color: #fff !important;
  display: block;
  font-style: normal;
  font-weight: normal;
  left: 8%;
  margin-bottom: 15px;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  line-height: normal;
  font-size: 90%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#prompt-comment-subscribe .postmatic-tooltip em a {
    color: #fff;
    display: block;
    text-align: left;
    letter-spacing: normal;
    text-decoration: underline;
}

#prompt-comment-subscribe .postmatic-tooltip em:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

#prompt-comment-subscribe .postmatic-tooltip em:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #34495e 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 88%;
  position: absolute;
  width: 0;
}

@media screen and (min-width: 500px) {
#prompt-comment-subscribe:hover .postmatic-tooltip em {
  opacity: 1;
  pointer-events: none;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

}

@media screen and (max-width: 500px) {
  
    #prompt-comment-subscribe .postmatic-tooltip {
      background: none;
    }
    #prompt-comment-subscribe .postmatic-tooltip em {
        left: 0;
       width: 300px;
    }
    #prompt-comment-subscribe .postmatic-tooltip em:after {
      left: 90%;
    }
}