/* line 1, ../sass/subscribe-form.scss */
form.prompt-subscribe label.prompt-topic {
  display: none;
}
.loading-indicator {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear, visibility 2s ease;
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.loading-indicator.active {
visibility: visible;
opacity: 1;
}


@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.prompt-subscribe {
  position: relative;
}

.prompt-subscribe input {margin-bottom: 5px;}

.om-custom-html-form .prompt-subscribe input {
    margin: 5px !important;
    width: 30% !important;
}

.message, .message p {
  margin: 0;
  padding: 0;
}

.prompt-subscribe .inputs, .prompt-subscribe .subscribe {
visibility: hidden;
opacity: 0;
transition: visibility 0.2s ease, opacity 0.2s linear;
}

.prompt-subscribe .inputs.active, .prompt-subscribe .subscribe.active {
visibility: visible;
opacity: 1;
top: 0;
}

.prompt-subscribe .message {
visibility: hidden;
opacity: 0;
transition: opacity 1s linear, visibility 1s ease;
position: absolute;
top: 0;
}

.prompt-subscribe .message.active {
visibility: visible;
opacity: 1;
}