<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="Prompt">
            <directory prefix="test-" suffix=".php">./tests/</directory>
        </testsuite>
        <testsuite name="Commentium">
            <directory suffix=".php">./vendor/postmatic/commentium/tests/phpunit/</directory>
            <exclude>./vendor/postmatic/commentium/tests/phpunit/No_Outbound_Test_Case.php</exclude>
            <exclude>./vendor/postmatic/commentium/tests/phpunit/Mock_Mailer_Test_Case.php</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>rest</group>
        </exclude>
    </groups>
</phpunit>
